
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Inscription{% endblock %}</title>
    </head>
    <body> 
        {% block javascripts %}{% endblock %}
    </head>    
    <div class="container">
{% block body %}{% endblock %}
</div>
